<ion-view title="About" id="page3">
  <ion-content padding="true" style="background: url(img/Pk2X4ZhUS22sVeuDhLFp_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="about-list9">
      <ion-item class="item-divider" id="about-list-item-divider5"> App Information</ion-item>
    </ion-list>
    <div class="item item-body" id="about-list-item-container1">
      <div id="about-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Application: UVIDEX Weather App</p>

        <p style="color:#000000;">Version: 1.0</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <ion-list id="about-list11">
      <ion-item class="item-divider" id="about-list-item-divider7"> Developers</ion-item>
      <div class="item item-body" id="about-list-item-container8">
        <div id="about-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Group Name: Awkward Dreamers </p>

          <p style="color:#000000;">Contact Numbers:709-12-34</p>

          <p style="color:#000000;">E-mail: soup-a-stars@gmail.com</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>