<ion-view title="Forecast" id="page1">
  <ion-content padding="true" style="background: url(img/5bHwlhRLRTqqlLA6E0sO_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="forecast-list2">
      <ion-item class="item-divider" id="forecast-list-item-divider1"> City: </ion-item>
    </ion-list>
    <ion-list id="forecast-list3">
      <ion-item class="item-icon-right" id="forecast-list-item7">Temperature:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="forecast-list-item8">Max Temp:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="forecast-list-item9">Min Temp:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item id="forecast-list-item10">Humidity:</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <ion-list id="forecast-list4">
      <ion-item class="item-divider" id="forecast-list-item-divider2"> City:</ion-item>
    </ion-list>
    <ion-list id="forecast-list5">
      <ion-item class="item-icon-right" id="forecast-list-item11">Temperature:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="forecast-list-item12">Max Temp:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="forecast-list-item13">Min Temp:
        <i class="icon ion-thermometer"></i>
      </ion-item>
      <ion-item id="forecast-list-item14">Humidity:</ion-item>
    </ion-list>
  </ion-content>
</ion-view>