<ion-view title="Locations" id="page2">
  <ion-content padding="true" style="background: url(img/2HAkwfhhTkGKkZ0DP0Ov_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="locations-list6">
      <ion-item class="item-divider" id="locations-list-item-divider3"> Add Location</ion-item>
      <label class="item item-input" id="locations-input1">
        <input type="text" placeholder="Enter here">
      </label>
    </ion-list>
    <div id="locations-button-bar1" class="button-bar">
      <button id="locations-button5" class="button button-positive  button-block">Get Location</button>
      <button id="locations-button6" class="button button-positive  button-block">Add Location</button>
    </div>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <ion-list id="locations-list8">
      <ion-item class="item-divider" id="locations-list-item-divider4"> Your Location/s:</ion-item>
      <ion-item id="locations-list-item19"></ion-item>
      <ion-item id="locations-list-item20"></ion-item>
      <ion-item id="locations-list-item18"></ion-item>
    </ion-list>
    <div id="locations-button-bar2" class="button-bar"></div>
    <button id="locations-button13" class="button button-positive  button-block">Delete Location</button>
  </ion-content>
</ion-view>